/* General styles */
body {
  font-family: 'Inter', sans-serif;
  color: #fff;
  margin: 0;
  background: linear-gradient(0deg, #080808, #1f1e28);
  min-height: 100vh;
}

/* Header & Navigation styles */
header {
  padding: 10px 0px;
  text-align: right;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin: 0 30px;
}

nav ul li a {
  color: #919090;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 100;
  font-size: 1.5em;
}

/* Section styles */
section {
  padding: 20px;
  text-align: center;
}

h1 {
  font-size: 4em;
  padding: 0;
  margin: 0;
  font-weight: 500;
}

p {
  margin-top: 30px;
  font-size: 3em;
  font-weight: 100;
  color: rgb(163, 163, 163);
}

.content {
  max-width: 1200px;
  margin: auto;
  padding: 16px 48px;
}

.hero {
  padding-top: 60px;
  display: flex;
  flex-direction: row;
  text-align: left;
}

.gradient-text {
  background-image: linear-gradient(-45deg, rgb(177, 8, 189), rgb(88, 186, 255));
  background-clip: text;
  color: transparent;
}

#avatar-container {
  height: 500px;
  margin-top: 32px;
  margin-bottom: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#contact-avatar-container {
  height: 500px;
  margin-top: 32px;
  margin-bottom: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#avatar-loading {
  font-size: 3em;
}



#contact {
  background-color: #1f1e28;
}

.contact-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.contact-avatar {
  flex: 1;
  max-width: 300px; /* Adjust the size as needed */
}

.contact-avatar-loading {
  /* Add styling for the loading indicator if needed */
}

.contact-form {
  flex: 1;
  max-width: 600px; /* Adjust the size as needed */
  margin-left: 20px; /* Adjust the spacing between avatar and form */
}

#contact-form {
  background-color: #333;
  padding: 20px;
  border-radius: 8px;
}

#contact-form h2 {
  color: #fff;
}

.form-group {
  margin-bottom: 20px;
}

label {
  color: #fff;
  display: block;
  margin-bottom: 5px;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #555;
  border-radius: 4px;
  background-color: #444;
  color: #fff;
}

button {
  background-color: #3498db;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #2980b9;
}

@media (max-width: 768px) {
  .contact-container {
    flex-direction: column;
  }
  .contact-form {
    margin-left: 0;
    margin-top: 20px;
  }
}


/* About Me styles */
#about {
  background-color: #1f1e28;
  color: #fff;
  padding: 40px 0;
}

#about h1 {
  font-size: 3em;
  margin-bottom: 20px;
}

#about p {
  font-size: 1.5em;
  line-height: 1.6;
}

/* Additional styling for responsiveness */
@media (max-width: 768px) {
  #about {
    padding: 20px 0;
  }

  #about h1 {
    font-size: 2.5em;
  }

  #about p {
    font-size: 1.2em;
  }
}